


/* AV-1 LoRa Connector - Nav Bar */

#AV-1-Connection{
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

#AV-1-Connection-container {
    border-radius: 50%;
    border: 2px solid red;
    width: 1.5rem;
    height: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
      
  #AV-1-Connection-wrapper {
    border-radius: 50%;
    width: 80%;
    height: 80%;
    background-color: red;
  }



/* AV-2 LoRa Connector - Nav Bar */

#AV-2-Connection{
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

  #AV-2-Connection-container {
    border-radius: 50%;
    border: 2px solid red;
    width: 1.5rem;
    height: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
      
  #AV-2-Connection-wrapper {
    border-radius: 50%;
    width: 80%;
    height: 80%;
    background-color: red;
  }

 


  /* PL CAN Connector - Nav Bar */

  #Payload-CAN-Connection{
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

#Payload-CAN-Connection-container {
    border-radius: 50%;
    border: 2px solid rgb(190, 1, 1);
    width: 1.5rem;
    height: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
      
  #Payload-CAN-Connection-wrapper {
    border-radius: 50%;
    width: 80%;
    height: 80%;
    background-color: red;
  }

  #Aerobrakes-CAN-Connection-container {
    border-radius: 50%;
    border: 2px solid rgb(190, 1, 1);
    width: 1.5rem;
    height: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* AB CAN Connector - Nav Bar */

  #Aerobrakes-CAN-Connection{
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    }
      
  #Aerobrakes-CAN-Connection-wrapper {
    border-radius: 50%;
    width: 80%;
    height: 80%;
    background-color: red;
  }


  /* Other */

#Max-altitude-container{
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#Time-container{
    width: 200%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;


}

.logo-container{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#navbar{
    width: 100%;
    height: 100%;
    display: flex;
    flex: space-between;
}



.body_container{
  display: flex;
  flex-direction: column;
  flex-grow: 1; /*fills entire space with the body_container div*/
}

.maincontent_grid{
  display: grid; /*each child element within the grid will be placed automatically into the grid based on the way the grid is set up*/
  height: 100%;
  grid-template-columns: 1fr 1fr 1fr; /*an fr is a unit of free space so 2fr 1f 1fr is the same as dividing into 4 and one section gets two bit the rest get 1 - very useful unit */
  grid-template-rows: 75% 25%; 
  gap: 1em; /*gap between grid items*/
  margin: 0.5em; /*margin around whole grid container*/
}


/*
.maincontent_grid-item{
border: dashed
} 

/* Overall Flight Status */

#Flight-Status-red-container {
    border-radius: 50%;
    border: 2px solid rgb(190, 1, 1);
    width: 1.5rem;
    height: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
      
  #Flight-Status-red-wrapper {
    border-radius: 50%;
    width: 80%;
    height: 80%;
    background-color: red;
  }

  #Flight-Status-orange-container {
    border-radius: 50%;
    border: 2px solid rgb(146, 95, 0);
    width: 1.5rem;
    height: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
      
  #Flight-Status-orange-wrapper {
    border-radius: 50%;
    width: 80%;
    height: 80%;
    background-color: orange;
  }

  #Flight-Status-green-container {
    border-radius: 50%;
    border: 2px solid green;
    width: 1.5rem;
    height: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
      
  #Flight-Status-green-wrapper {
    border-radius: 50%;
    width: 80%;
    height: 80%;
    background-color: rgb(0, 255, 0);
  }

  .Fill-Button-Space{
    min-width: 100%;
    max-width: 100%;
   }


   #AV-1-LoRa-Connection-data{
    width: 100%;
    height: 100%;
    display: flex;
}

#AV-2-LoRa-Connection-data{
    width: 100%;
    height: 100%;
    display: flex;
}



/* AB Indicator Red */

#AB-red{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;

}

#AB-red-container {
  border-radius: 50%;
  border: 2px solid rgb(190,1,1);
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
    
#AB-red-wrapper {
  border-radius: 50%;
  width: 80%;
  height: 80%;
  background-color: red;
}

/* AB Indicator Yellow */

#AB-yellow{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.3;

}

#AB-yellow-container {
  border-radius: 50%;
  border: 2px solid rgb(146, 95, 0);
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
    
#AB-yellow-wrapper {
  border-radius: 50%;
  width: 80%;
  height: 80%;
  background-color: orange;
}


/* AB Indicator Green */

#AB-Green{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.3;

}

#AB-Green-container {
  border-radius: 50%;
  border: 2px solid green;
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
    
#AB-Green-wrapper {
  border-radius: 50%;
  width: 80%;
  height: 80%;
  background-color: rgb(0, 255, 0);
}



/* flight Indicator Red */

#flight-red{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;

}

#flight-red-container {
  border-radius: 50%;
  border: 2px solid rgb(190,1,1);
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
    
#flight-red-wrapper {
  border-radius: 50%;
  width: 80%;
  height: 80%;
  background-color: red;
}

/* flight Indicator Yellow */

#flight-yellow{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.3;

}

#flight-yellow-container {
  border-radius: 50%;
  border: 2px solid rgb(146, 95, 0);
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
    
#flight-yellow-wrapper {
  border-radius: 50%;
  width: 80%;
  height: 80%;
  background-color: orange;
}


/* flight Indicator Green */

#flight-green{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.3;

}

#flight-green-container {
  border-radius: 50%;
  border: 2px solid green;
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
    
#flight-green-wrapper {
  border-radius: 50%;
  width: 80%;
  height: 80%;
  background-color: rgb(0, 255, 0);
}


