@import "tailwindcss";

/*
This is a template/config file required by Tailwind.

Please don't link to it from the site,
and only modify it if you know what you're doing :)
*/

@font-face {
    src: url("../font/fauna-thin.ttf");
    font-family: "Fauna";
    font-style: normal;
    font-display: swap;
}

@theme {
    --font-fauna: "Fauna";
    --color-hive: #f79322;
    --color-hive-dark: #663d0e;
    --color-legacy: #f5e570;
}

@layer base {
    * {
        box-sizing: border-box;
    }

    body {
        background-color: black;
        background-image: url('/img/hexagonal_background.svg');
        background-size: cover;
        background-position: center;
        background-repeat: repeat;
        height: 100%;
        width: 100%;
    }

    h2 {
        @apply font-mono font-bold text-hive m-0 -mt-1 -mb-3 uppercase;
    }

    h3 {
        @apply font-mono font-bold text-center text-zinc-200 leading-none;
    }

    h3::before {
        content: '< ';
        @apply text-hive;
    }

    h3::after {
        content: " >";
        @apply text-hive;
    }

    label {
        @apply text-sm;
    }

    input {
        @apply text-base text-center text-white font-mono border border-zinc-700 rounded-sm max-w-full mx-0.5;
    }

    input.error {
        @apply bg-red-600;
        filter: drop-shadow(0 0 5px var(--color-red-600)) drop-shadow(0 0 10px var(--color-red-600));
    }

    .flex input {
        @apply flex-1 min-w-0;
    }

    section {
        @apply p-2;
    }
}

@layer components {

    /* Main layout components */
    .module {
        @apply flex justify-center items-center overflow-y-auto;
    }

    nav {
        background-image: url("/img/navbar.svg#svgView(preserveAspectRatio(none))");
        background-size: 100% 100%;

        & a {
            @apply flex flex-col items-center;
        }

        & span {
            @apply whitespace-nowrap;
        }

        & .selected {
            @apply text-hive font-bold;
        }

        & .selected .icon {
            @apply bg-hive;
        }

        & a:hover span {
            @apply underline;
        }
    }

    .icon {
        @apply w-12 h-12 bg-white mx-auto aspect-square;
        -webkit-mask-repeat: no-repeat;
        mask-repeat: no-repeat;
        -webkit-mask-size: contain;
        mask-size: contain;
    }

    .icon-rocket {
        -webkit-mask-image: url('/img/icons/rocket.svg');
        mask-image: url('/img/icons/rocket.svg');
    }

    .icon-gamepad {
        -webkit-mask-image: url('/img/icons/gamepad.svg');
        mask-image: url('/img/icons/gamepad.svg');
    }

    .icon-video-camera {
        -webkit-mask-image: url('/img/icons/video-camera.svg');
        mask-image: url('/img/icons/video-camera.svg');
    }

    .icon-sitemap {
        -webkit-mask-image: url('/img/icons/sitemap.svg');
        mask-image: url('/img/icons/sitemap.svg');
    }

    /* Specific module styles */
    .rocket_frame {
        background-image: url('/img/rocket_frame.svg#svgView(preserveAspectRatio(none))');
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }

    #rocketCanvas {
        --current-color: var(--color-emerald-600);
        filter: drop-shadow(1px 1px 0 var(--current-color)) 
            drop-shadow(-1px 1px 0 var(--current-color)) 
            drop-shadow(-1px -1px 0 var(--current-color)) 
            drop-shadow(1px -1px 0 var(--current-color));
    }

    .indicator-state {
        @apply w-8 h-8 max-w-8 max-h-8 aspect-square rounded-full border border-hive mx-auto bg-black/20;

        &.off {
            @apply bg-hive/20;
        }

        &.on, &.green {
            @apply bg-green-400;
            filter: drop-shadow(0 0 5px var(--color-green-600)) drop-shadow(0 0 10px var(--color-green-600));
        }

        &.idle, &.amber {
            @apply bg-yellow-300;
            filter: drop-shadow(0 0 5px var(--color-yellow-600)) drop-shadow(0 0 10px var(--color-yellow-600));
        }

        &.error, &.red {
            @apply bg-red-600;
            filter: drop-shadow(0 0 5px var(--color-red-600)) drop-shadow(0 0 10px var(--color-red-600));
            background-image: url("/img/icons/exclamation.svg");
            background-size: 100% 100%;
            background-position: center center;
            background-repeat: none;
        }
    }

    .indicator-flightstate {
        @apply relative h-12 max-h-12;

        &::before, &::after {
            @apply absolute -z-5 w-[calc(50%-1rem)] h-1/3 top-1/3 border-y border-hive bg-green-600;
            content: '';
        }

        &::before {
            @apply left-0;
        }

        &::after {
            @apply right-0;
        }

        &:first-of-type::before, &:last-of-type::after {
            @apply hidden;
        }

        & .indicator-state {
            @apply z-10 bg-green-500 w-10 h-10 max-w-10 max-h-10 my-1;
        }

        &.active {
            & .indicator-state {
                @apply w-12 h-12 max-w-12 max-h-12 my-0 bg-green-400;
                filter: drop-shadow(0 0 5px var(--color-green-600)) drop-shadow(0 0 10px var(--color-green-600));
            }

            &::after {
                background: black;
                border-color: var(--color-hive-dark);
            }
        }

        &.active ~ .indicator-flightstate {
            & .indicator-state, &::before, &::after {
                background: black;
                filter: none;
                border-color: var(--color-hive-dark);
            }
        }
    }

    /* Continuity module */
    .continuity-header {
        @apply font-mono text-hive border-r-1 border-hive-dark flex flex-row items-center text-center justify-center;
    }

    .continuity-button {
        background-image: url('/img/buttons/continuity_button.svg#svgView(preserveAspectRatio(none))');
        background-size: 100% 100%;
        background-repeat: no-repeat;
        @apply cursor-pointer;
    }

    /* Hover*/
    .continuity-button:hover {
        background-image: url('/img/buttons/continuity_button_hover.svg#svgView(preserveAspectRatio(none))');
    }

    /* Clicked/pressed */
    .continuity-button:active {
        background-image: url('/img/buttons/continuity_button_pressed.svg#svgView(preserveAspectRatio(none))');
    }

    .continuity-variables-middle {
        @apply flex flex-row items-center justify-center border-r-1 border-hive-dark p-2
    }

    .continuity-variables-right {
        @apply flex flex-row items-center justify-center p-2
    }

    /* Pop test module */
    .pop_selector {
        background-image: url('/img/buttons/selector_active.svg#svgView(preserveAspectRatio(none))');
        background-size: 100% 100%;
        background-repeat: no-repeat;
        opacity: 60%;
        @apply cursor-pointer;
    }

    input:checked+label.pop_selector {
        opacity: 100%;
    }

    .pop_button_inactive {
        background-image: url('/img/buttons/pop_button.svg#svgView(preserveAspectRatio(none))');
        background-size: 100% 100%;
        background-repeat: no-repeat;
        opacity: 60%;
    }

    .pop_button_active {
        background-image: url('/img/buttons/pop_button.svg#svgView(preserveAspectRatio(none))');
        background-size: 100% 100%;
        background-repeat: no-repeat;
        opacity: 100%;
        @apply cursor-pointer;
    }

    /* Hover */
    .pop_button_active:hover {
        background-image: url('/img/buttons/pop_button_hover.svg#svgView(preserveAspectRatio(none))');
    }

    /* Pressed */
    .pop_button_active:active {
        background-image: url('/img/buttons/pop_button_pressed.svg#svgView(preserveAspectRatio(none))');
    }

    /* Aux System module */
    .solenoid_button_inactive {
        background-image: url('/img/buttons/solenoid_button_inactive.svg#svgView(preserveAspectRatio(none))');
        background-size: 100% 100%;
        background-repeat: no-repeat;
        opacity: 60%;
        @apply cursor-pointer;
    }

    .solenoid_button_active {
        background-image: url('/img/buttons/solenoid_button_active.svg#svgView(preserveAspectRatio(none))');
        background-size: 100% 100%;
        background-repeat: no-repeat;
        opacity: 100%;
        @apply cursor-pointer;
    }

    .solenoid_button_active:hover {
        background-image: url('/img/buttons/solenoid_button_hover.svg#svgView(preserveAspectRatio(none))');
    }

    .solenoid_button_active:active {
        background-image: url('/img/buttons/solenoid_button_pressed.svg#svgView(preserveAspectRatio(none))');
    }

    /* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #4DFFC4;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #4DFFC4;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  /* Disabled state */
input:disabled + .slider {
    background-color: #888;
    cursor: not-allowed;
    opacity: 60%;
  }
  
  input:disabled + .slider:before {
    background-color: #ccc;
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }


    .aux_modal {
        background-image: url('/img/modal.svg#svgView(preserveAspectRatio(none))');
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }

    /* Placeholders */
    .placeholder-graph {
        @apply border-l-2 border-b-2 border-hive bg-black flex-1;
    }
}