# Frontend team does not require reviews when merging into their folder on the main branch
frontend/  @gcs-ground-control-station/gcs-front-end-capstone

# Anything else requires a review by someone on the backend
*  @gcs-ground-control-station/gcs-backend
