# Front end team do not require reviews when merging into their folder on main branch
frontend/  @RMIT-Competition-Rocketry/gcs-front-end-capstone

# Anything else requires a review by someone on backend
*  @RMIT-Competition-Rocketry/gcs-backend
