# -------------------- LINGUIST --------------------

# Exclude libraries from linguist analysis
frontend/static/js/libraries/d3.min.js linguist-vendored
frontend/static/js/libraries/three.module.js linguist-vendored
frontend/static/js/libraries/GLTFLoader.js linguist-vendored

frontend/static/css/tailwind.css linguist-generated

# Exclude reference code as well
notes/old_esp32_rx_code.cpp linguist-documentation 

docker/Dockerfile.dev linguist-language=Dockerfile

# -------------------- OTHERS --------------------

# Treat all excalidraw files as binary
*.excalidraw binary

# Enforce standard line endings for expected file systems
*.sh  text eol=lf
*.bat text eol=crlf
