<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
    <head>
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=1920, height=1080, initial-scale=1"
        />
        <title>MODULE DEBUG - RMIT High Velocity</title>
        <link
            rel="stylesheet"
            type="text/css"
            href="/css/tailwind.css"
            media="screen"
        />
    </head>

    <body class="bg-hex bg-zinc-900">
        <div class="p-4 w-full text-white">
            <h1 class="text-2xl">Module debug page</h1>
            <ul class="list-disc list-inside my-4 text-lg">
                <li>
                    <a href="#shared" class="underline text-hive"
                        >Shared modules</a
                    >
                </li>
                <li>
                    <a href="#atlas" class="underline text-atlas"
                        >Atlas modules</a
                    >
                </li>
                <li>
                    <a href="#legacy3" class="underline text-legacy"
                        >Legacy III modules</a
                    >
                </li>
            </ul>
        </div>

        <main class="debug w-full flex flex-col gap-8">
            {% for rocket in config.rockets %}
            <section
                class="flex flex-col gap-4 p-4 border border-black bg-zinc-900 bg-hex text-white"
            >
                <h2 class="lowercase!">/rockets/{{ rocket }} modules</h2>
                {% for rocketconfig in config.rockets[rocket]["configs"] %} {%
                for module in rocketconfig.MODULES %} {% if module.split("/")[0]
                == rocket %}
                <div>
                    {{ config.rockets[rocket]["blueprint"].template_folder }}
                </div>
                {% endif %} {% endfor %} {% endfor %}
            </section>
            {% endfor %}
        </main>
    </body>

    <!-- Javascript should generally go below, not in individual modules -->
    <script src="/js/GCS_Display.js"></script>
    <script src="/js/GCS_API.js"></script>

    <!-- Data visualisation code -->
    <script src="/js/libraries/d3.min.js"></script>
    <script src="/js/GCS_Graphs.js"></script>

    <!-- 6DOF Rocket code -->
    <script type="module" src="/js/GCS_RocketViewer.js" defer></script>

    <!-- Debug/testing code -->
    <script src="/js/GCS_Testing.js"></script>
</html>
