<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=1920, height=1080, initial-scale=1"
        />
        <title>MODULE DEBUG - RMIT High Velocity</title>
        <link
            rel="stylesheet"
            type="text/css"
            href="/css/tailwind.css"
            media="screen"
        />
    </head>

    <body class="p-4">
        <header class="mb-4">
            <h1 class="text-2xl">Module debug page</h1>
            <p>Loaded rocket modules:</p>
        </header>

        <main class="debug w-full flex flex-col gap-8">
            {% for rocket in config.rockets %}
            <section class="bg-zinc-900 p-4">
                <h2 class="lowercase!">/rockets/{{ rocket }} modules</h2>
                <div class="flex flex-col gap-4 py-4">
                    {% for rocketconfig in config.rockets[rocket]["configs"] %}
                    {% for module in rocketconfig.MODULES %} {% if
                    module.split("/")[0] == rocket %}
                    <div
                        class="border border-black bg-zinc-900 bg-hex text-white"
                    >
                        {% include module.split("/")[-1] %}
                    </div>
                    {% endif %} {% endfor %} {% endfor %}
                </div>
            </section>
            {% endfor %}
        </main>
    </body>

    <!-- Javascript should generally go below, not in individual modules -->
    <script src="/js/GCS_Display.js"></script>
    <script src="/js/GCS_API.js"></script>

    <!-- Data visualisation code -->
    <script src="/js/libraries/d3.min.js"></script>
    <script src="/js/GCS_Graphs.js"></script>

    <!-- 6DOF Rocket code -->
    <script type="module" src="/js/GCS_RocketViewer.js" defer></script>

    <!-- Debug/testing code -->
    <script src="/js/GCS_Testing.js"></script>
</html>
