<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>RMIT HIVE-IREC</title>
		<link rel="stylesheet" type="text/css" href="css/tailwind.css" media="screen" />
		<link rel="preload" href="/font/fauna-thin.ttf" as="font" type="font/ttf" crossorigin="anonymous" />
	</head>

	
	<body class="w-screen h-screen max-w-screen max-h-screen bg-hexagonal_background text-white border-hive border-2 flex flex-col">
		<div class = "background-pattern">
		<!-- Header, consistent on all pages -->
		<header class="w-full flex flex-row gap-2 h-24 min-h-24 max-h-24">
			<div class="w-1/6 grow">{% include 'module_info.html' %}</div>
			<nav
				class="w-auto grow h-full self-start bg-navbar flex px-[3%] p-2 gap-2 font-medium text-center items-center text-sm">
				<a href="#m-main" class="w-1/6">
					<div class="icon icon-rocket"></div>
					<span>Main Interface</span>
				</a>
				<a href="#m-lf2" class="w-1/6">
					<div class="icon icon-video-camera"></div>
					<span>Live - Launchpad</span>
				</a>
				<a href="#m-lf1" class="w-1/6">
					<div class="icon icon-video-camera"></div>
					<span>Live - Rocket</span>
				</a>
				<a href="#m-lf3" class="w-1/6">
					<div class="icon icon-video-camera"></div>
					<span>Live - All Feeds</span>
				</a>
				<a href="#m-password" class="w-1/6">
					<div class="icon icon-gamepad"></div>
					<span>Single Operator</span>
				</a>
				<a href="#m-hmi" class="w-1/6">
					<div class="icon icon-sitemap"></div>
					<span>GSE State</span>
				</a>
				<a href="#m-ops" id="m-ops-button" class="w-0 h-0"></a> <!-- Needed for password page -->
			</nav>

			<div class="w-1/6 grow">{% include 'module_radio.html' %}</div>
		</header>

		<!-- Main grid (12x12), each module is a separate child div, using col/row positions instead of awkward nesting -->
		<!-- Modules are loaded from files in the templates/ directory -->
		<!-- and can be dynamically shown/hidden based on the m-name classes and nav links -->
		<main class="w-full max-w-full h-[calc(100vh-6rem)] max-h-[calc(100vh-6rem)] overflow-hidden grid grid-cols-12 grid-rows-12 grid-flow-col gap-2 p-2">
			<!-- Main interface modules -->
			<div class="module m-main m-lf1 col-[1/5] row-[1/13] flex flex-col h-full gap-2">
				<div class="module m-main m-lf1 grow basis-1/2 w-full">{% include 'module_avionics.html' %}</div>
				<div class="module m-main m-lf1 grow basis-1/4 w-full">{% include 'module_position.html' %}</div>
			</div>
			<div class="module m-main col-[5/9] row-[1/10]">{% include 'module_rocket.html' %}</div>
			<div class="module m-main col-[5/9] row-[10/13]">{% include 'module_flightstate.html' %}</div>
			<div class="module m-main m-lf2 col-[9/13] row-[1/6]">{% include 'module_errorlog.html' %}</div>
			<div class="module m-main m-lf2 col-[9/13] row-[6/13]">{% include 'module_auxdata.html' %}</div>

			<!-- Single operator password page and modules -->
			<div class="module m-password col-[1/13] row-[1/13]">{% include 'module_password.html' %}</div>
			
			<div class="module m-ops col-[1/5] row-[1/7]">{% include 'module_continuitycheck.html' %}</div>
			<div class="module m-ops col-[1/5] row-[7/13]">{% include 'module_poptest.html' %}</div>
			<div class="module m-ops col-[5/9] row-[7/13]">{% include 'module_auxcontrols.html' %}</div>
			<div class="module m-ops col-[9/13] row-[1/13]">{% include 'module_flags.html' %}</div>
			<div class="module m-ops col-[5/9] row-[1/7]">{% include 'module_futurecontrols.html' %}</div>

			<!-- Video 2 modules - Launchpad -->
			<div class="module m-lf2 col-[1/9] row-[1/10] items-center justify-center">{% include 'module_video_launchpad.html' %}</div>
			<div class="module m-lf2 col-[2/8] row-[10/13]">{% include 'module_flightstate.html' %}</div>

			<!-- Video 1 modules - Rocket -->
			<div class="module m-lf1 col-[5/13] row-[1/10] items-center justify-center">{% include 'module_video_rocket.html' %}</div>
			<div class="module m-lf1 col-[6/12] row-[10/13]">{% include 'module_flightstate.html' %}</div>

			<!-- Video 3 modules - Both feeds -->
			<div class="module m-lf3 col-[1/7] row-[1/10] items-center justify-center">{% include 'module_video_launchpad.html' %}</div>
			<div class="module m-lf3 col-[7/13] row-[1/10] items-center justify-center">{% include 'module_video_rocket.html' %}</div>
			<div class="module m-lf3 col-[4/10] row-[10/13]">{% include 'module_flightstate.html' %}</div>

			<!-- HMI modules -->
			<div class="module m-hmi col-[1/13] row-[1/13]">
				{% include 'examples/example_svgmanip.html' %}
			</div>

		</main>

		<!-- Javascript should generally go below, not in individual modules -->
		<script src="js/GCS_Display.js"></script>
		<script src="js/GCS_API.js"></script>

		<!-- Data visualisation code -->
		<script src="js/d3.min.js"></script>
        <script src="js/GCS_Graphs.js"></script>

		<!-- 6DOF Rocket code -->
		<script type="module" src="js/rocket_viewer.js"></script>

		<!-- Debug/testing code -->
		<script src="js/GCS_Testing.js"></script>
		</div>
	</body>

</html>
