<!-- Continuity check buttons module -->
<div class="w-full h-full grid grid-cols-3 grid-rows-5 border-1 border-hive">
	
	<div><button class="continuity-a flex items-center">Continuity check button A</button> </div>
	<p>Continuity check A CMD received</p>
	<p>Continuity check A result</p>

	<p>Continuity check button B</p>
	<p>Continuity check B CMD received</p>
	<p>Continuity check B result</p>

	<p>Continuity check button C</p>
	<p>Continuity check C CMD received</p>
	<p>Continuity check C result</p>

	<p>Continuity check button D</p>
	<p>Continuity check D CMD received</p>
	<p>Continuity check D result</p>
</div>
