<!-- Flight status and GPS module -->
<h2 class="text-center text-hive font-semibold font-mono">&lt; FLIGHT STATUS &gt;</h2>

<div class="flex flex-row justify-between gap-2">
	<p class="indicator-numeric grow">
		<span>Time:</span>
		<span id="flight-time">10:02</span>
	</p>

	<p class="indicator-numeric grow">
		<span>State:</span>
		<span id="flight-state">Main Deployed</span>
	</p>

	<div class="flex flex-row justify-evenly gap-2 items-center">
		<div class="bg-red-500 rounded-full w-6 h-6 border-red-900 border-4"></div>
		<div class="bg-yellow-900 rounded-full w-6 h-6 border-yellow-950 border-4"></div>
		<div class="bg-green-900 rounded-full w-6 h-6 border-green-950 border-4"></div>
	</div>
</div>

<h2 class="text-center text-hive font-semibold font-mono">&lt; CURRENT GPS &gt;</h2>

<div class="grid grid-cols-2 gap-1">
	<p class="indicator-numeric">
		<span>Latitude:</span>
		<span id="gps-lat">-36.484306</span>
	</p>

	<p class="indicator-numeric">
		<span>Longitude:</span>
		<span id="gps-lon">144.003417</span>
	</p>

	<p class="indicator-numeric">
		<span>Altitude (m):</span>
		<span id="gps-alt-m">523 m</span>
	</p>

	<p class="indicator-numeric">
		<span>Altitude (ft):</span>
		<span id="gps-alt-ft">1715 ft</span>
	</p>
</div>
