<!-- Position module -->
<!-- Includes altitude, gps -->
<div
    class="w-full h-full flex flex-col font-mono border-t-2 border-hive/50 gap-2"
>
    <h2>Position</h2>

    <!-- GPS -->
    <section class="p-0 grow w-full flex flex-row gap-2 justify-evenly text-sm">
        <label>
            Latitude:<input readonly autocomplete="off" class="pos-gps-lat" size="11" />deg
        </label>
        <label>
            Longitude:<input readonly autocomplete="off" class="pos-gps-lon" size="11" />deg
        </label>
    </section>

    <!-- Altitude -->
    <section class="flex flex-col grow p-0">
        <h3>Altitude</h3>
        <div class="grow w-full h-full">
            <svg
                id="graph-pos-alt"
                class="w-full h-full"
                width="0"
                height="0"
            ></svg>
        </div>
        <div class="flex gap-4 items-center px-2 justify-evenly text-sm">
            <label>&nbsp;&nbsp;&nbsp;&nbsp;Altitude:&nbsp;<input
                readonly
                autocomplete="off"
                class="pos-alt-ft border-b-red-500 border-b-2"
                size="10"
            />ft&nbsp;&nbsp;<input
            readonly
            autocomplete="off"
            class="pos-alt-m"
            size="10"
        />m</label>
        </div>
        <div class="flex gap-4 items-center px-2 justify-evenly font-bold">
            <label>Max Altitude:&nbsp;<input readonly autocomplete="off" class="pos-maxalt-ft" size="10" />ft&nbsp;&nbsp;<input readonly autocomplete="off" class="pos-maxalt-m" size="10" />m</label>
        </div>
    </section>
</div>
