<!-- Auxiliary data module (GSE) -->
<div class="w-full h-full flex flex-col gap-2 font-mono border-2 border-hive-dark text-sm">
  <h2 class="text-center py-1 text-base">System Flags</h2>

  <div class="grid grid-rows-5 gap-1 px-2 gap-2">

    <!-- Flag Indicators -->
    <div class="row-span-3 grid grid-rows-8 grid-cols-4 gap-y-2 items-center text-left">
      <p class="col-span-3">Dual Board Connectivity</p>
      <div class="indicator-state"></div>

      <p class="col-span-3">Recovery checks complete and flight ready</p>
      <div class="indicator-state"></div>

      <p class="col-span-3">GPS Fix</p>
      <div class="indicator-state"></div>

      <p class="col-span-3">Payload Connection</p>
      <div class="indicator-state"></div>

      <p class="col-span-3">Camera Controller</p>
      <div class="indicator-state"></div>

      <p class="col-span-3">Apogee Test</p>
      <div class="indicator-state"></div>

      <p class="col-span-3">Main/Primary Test</p>
      <div class="indicator-state"></div>

      <p class="col-span-3">Broadcast Flag</p>
      <div class="indicator-state"></div>
    </div>

    <!-- Voting Section -->
    <div class="row-start-5 grid grid-rows-2 items-center py-1">
      <h2 class="text-center text-sm">3-Way Voting Status</h2>
      <div class="grid grid-cols-3 gap-2 justify-center items-center">
        <div class="indicator-state w-5 h-5 mx-auto"></div>
        <div class="indicator-state w-5 h-5 mx-auto"></div>
        <div class="indicator-state w-5 h-5 mx-auto"></div>
      </div>
    </div>
  </div>
</div>
