<!-- Position module -->
<!-- Includes altitude, gps -->
<div
    class="w-full h-full flex flex-col font-mono border-t-2 border-hive/50 gap-2"
>
    <h2>Position</h2>

    <!-- GPS -->
    <section class="p-0 px-2 grow w-full">
        <div class="flex flex-row gap-4 grow justify-evenly">
            <p>
                GPS:
                <input readonly autocomplete="off" class="pos-gps-lat" size="16" />
            ,
                <input readonly autocomplete="off" class="pos-gps-lon" size="16" />
            </p>
        </div>
    </section>

    <!-- Altitude -->
    <section class="flex flex-col grow p-0">
        <h3>Altitude (m)</h3>
        <div class="grow w-full h-full">
            <svg
                id="graph-pos-alt"
                class="w-full h-full"
                width="0"
                height="0"
            ></svg>
        </div>
        <div class="flex gap-1 items-center px-2">
            <p class="text-right">&nbsp;&nbsp;&nbsp;&nbsp;Altitude:</p>
            <input
                readonly
                autocomplete="off"
                class="pos-alt-m border-b-red-500 border-b-2"
            />
            <p class="mr-4">m</p>
            <input readonly autocomplete="off" class="pos-alt-ft" />
            <p>ft</p>
        </div>
        <div class="flex gap-1 items-center px-2">
            <p class="text-right">Max&nbsp;Altitude:</p>
            <input
                readonly
                autocomplete="off"
                class="pos-maxalt-m"
            />
            <p class="mr-4">m</p>
            <input readonly autocomplete="off" class="pos-maxalt-ft" />
            <p>ft</p>
        </div>
    </section>
</div>
