<!-- Payload data module -->
<div class="col-span-4 row-span-2">
	<h2 class="text-center text-[#4DFFC4]">Payload Data</h2>
	<div class="flex flex-row w-full justify-between text-left font-mono text-[14px] p-4">

		<div> 
			<span class="text-[#4DFFC4]">Count: <span class="text-white">{{value}}</span></span>
			<span class="text-[#4DFFC4]">Temp 1: <span class="text-white">{{value}}</span></span>
			<span class="text-[#4DFFC4]">Temp 2: <span class="text-white">{{value}}</span></span>
		</div>

		

	</div>

	<div class="flex flex-row w-full justify-between font-mono text-[14px] p-4">

		<div> 
			<span class="text-[#4DFFC4]">Sync: <span class="text-white">{{value}}</span></span>
			<span class="text-[#4DFFC4]">Humidity 1: <span class="text-white">{{value}}</span></span>
			<span class="text-[#4DFFC4]">Humidity 2: <span class="text-white">{{value}}</span></span>
		</div>

	</div>

	<div class="flex flex-row w-full justify-between font-mono text-[14px] p-4">

		<div> 
			<span class="text-[#4DFFC4]">Flight Time: <span class="text-white">{{value}}</span></span>
			<span class="text-[#4DFFC4]">Pressure 1: <span class="text-white">{{value}}</span></span>
			<span class="text-[#4DFFC4]">Pressure 2: <span class="text-white">{{value}}</span></span>
		</div>

	</div>

	<div class="flex flex-row w-full text-center font-mono text-[14px] p-4">

		<div> 
			<span class="text-[#4DFFC4]">Acceleration: <span class="text-white">{{value}}</span></span>
		</div>

	</div>

</div>	

