<!-- Auxilliary data module (GSE) -->
<!-- Includes transducers, thermocouples, internal temperature, gas bottle weights -->
<div class="w-full h-full flex flex-col font-mono border-t-2 border-hive/50">
	<h2>Auxilliary (GSE)</h2>
	<div class="grid grid-cols-2 grow gap-2">
		<!-- Transducers -->
		<section class="flex flex-col">
			<h3>Transducers (Bar)</h3>
			<div class="placeholder-graph">
				<!-- Transducers graph -->
			</div>
			<div class="grid grid-cols-3 gap-4">
				<p class="flex gap-1 items-center">
					<span>1:</span>
					<input readonly autocomplete="off" class="aux-transducer-1">
				</p>
				<p class="flex gap-1 items-center">
					<span>2:</span>
					<input readonly autocomplete="off" class="aux-transducer-2">
				</p>
				<p class="flex gap-1 items-center">
					<span>3:</span>
					<input readonly autocomplete="off" class="aux-transducer-3">
				</p>
			</div>
		</section>

		<!-- Thermocouples -->
		<section class="flex flex-col">
			<h3>Thermocouples (&deg;C)</h3>
			<div class="placeholder-graph">
				<!-- Thermocouples graph -->
			</div>
			<div class="grid grid-cols-4 gap-2">
				<p class="flex gap-1 items-center">
					<span>1:</span>
					<input readonly autocomplete="off" class="aux-thermocouple-1">
				</p>
				<p class="flex gap-1 items-center">
					<span>2:</span>
					<input readonly autocomplete="off" class="aux-thermocouple-2">
				</p>
				<p class="flex gap-1 items-center">
					<span>3:</span>
					<input readonly autocomplete="off" class="aux-thermocouple-3">
				</p>
				<p class="flex gap-1 items-center">
					<span>4:</span>
					<input readonly autocomplete="off" class="aux-thermocouple-4">
				</p>
			</div>
		</section>

		<!-- Internal temperature -->
		<section class="flex flex-col">
			<h3>Internal Temperature (&deg;C)</h3>
			<div class="placeholder-graph">
				<!-- Internal temperature graph -->
			</div>
			<p class="flex gap-1 items-center">
				<span>Temp:</span>
				<input readonly autocomplete="off" class="aux-internaltemp">
				<span>&deg;C</span>
			</p>
		</section>

		<!-- Gas bottle weights -->
		<section class="flex flex-col">
			<h3>Gas Bottle Weights (kg)</h3>
			<div class="placeholder-graph">
				<!-- Gas bottle weights graph -->
			</div>
			<div class="grid grid-cols-2 gap-4">
				<p class="flex gap-1 items-center">
					<span>1:</span>
					<input readonly autocomplete="off" class="aux-gasbottle-1">
				</p>
				<p class="flex gap-1 items-center">
					<span>2:</span>
					<input readonly autocomplete="off" class="aux-gasbottle-2">
				</p>
			</div>
		</section>
	</div>

	<!-- Rocket load cell weight -->
	<section class="flex flex-col">
		<p class="flex gap-1 items-center">
			<span>Rocket Load Cell Weight:</span>
			<input readonly autocomplete="off" class="aux-loadcell">
			<span>kg</span>
		</p>
	</section>
</div>