<!-- Pop test module -->
<div class="w-full h-full border-2 border-hive/50">
	<h2 class="text-center p-2">Pop test</h2> <br>
  
	<!-- Wrapper ensures flow remains correct -->
	<div class="w-full h-full grid grid-cols-4 grid-rows-7">

		<div id  = "prompt" class="text-red-600 text-base font-normal font-mono">
			Select an option
		</div>

		<div class = "row-start-2 col-start-2">
			<button id = "popButton" class="pop_button_inactive w-24 h-24" disabled>
			</button>
		</div>

		<div class="col-start-3 row-span-4 justify-center items-center">
			<img src="img/selector_vector.svg" class="w-full h-full" />
		</div>

		<div class="col-start-4">
			<input type="checkbox" id="optionMainP" class="sr-only peer">
			<label for="optionMainP"
				class="pop_selector w-32 h-5 flex items-center justify-center leading-none text-xs font-mono">
			Main: Primary
			</label>
		</div>

		<div class="row-start-2 col-start-4">
			<input type="checkbox" id="optionMainS" class="sr-only peer">
			<label for="optionMainS"
				class="pop_selector w-32 h-5 flex items-center justify-center leading-none text-xs font-mono">
			Main: Secondary
			</label>
		</div>

		<div class="row-start-4 col-start-4">
			<input type="checkbox" id="optionApogeeP" class="sr-only peer">
			<label for="optionApogeeP"
				class="pop_selector w-32 h-5 flex items-center justify-center leading-none text-xs font-mono">
			Apogee: Primary
			</label>
		</div>
			
			
		<div class="row-start-5 col-start-4">
			<input type="checkbox" id="optionApogeeS" class="sr-only peer">
			<label for="optionApogeeS"
				class="pop_selector w-32 h-5 flex items-center justify-center leading-none text-xs font-mono">
			Apogee: Secondary
			</label>
		</div>
		
		<p class="row-start-6 col-span-2 text-left font-mono">Pop Test CMD Received</p>
		<div class="row-start-6 indicator-boolean"></div>

			
		<p class="row-start-7 col-span-2 text-left font-mono">Pop Test Result</p>
		<div class="row-start-7 indicator-boolean"></div>
	
			
		
	</div>
  

		

  </div>

