<!-- Other controls module -->
<div class="w-full h-full border-2 border-hive-dark relative overflow-hidden">

	<div id="confirmationModal" class="absolute inset-0 bg-black/50 backdrop-blur-sm flex items-center justify-center hidden z-50">
		<div class="aux_modal p-4 rounded shadow-lg w-[250px] text-center">
		  <p id="confirmText" class="text-lg font-bold mb-2 font-mono">Are you sure you want to continue?</p>
		  <div class="flex justify-center gap-3">
			<button id="confirmYes" class="bg-green-500 text-white px-3 py-1 rounded font-mono">Yes</button>
			<button id="confirmNo" class="bg-red-500 text-white px-3 py-1 rounded font-mono">No</button>
		  </div>
		</div>
	</div>

	<h2 class="text-center p-2 text-sm">Aux System Controls</h2>


	<!-- Solenoid buttons-->
	<div class="grid grid-rows-2 items-center w-full h-full">
		<div class="grid grid-rows-2 items-center w-full h-full">

			<!--Manual Solenoid Activation button-->
			<div class="flex justify-center items-center">
				<button id="solenoidButton" class="solenoid_button_inactive w-40 h-8 text-xs">
					<span class="font-mono">Enable Manual Solenoid</span>
				</button>
			</div>

			<!--Solenoid switches-->
			<div class="grid grid-cols-6 items-center w-full h-full gap-2">
				
				<div class="flex flex-col justify-center items-center">
					<p class="text-white font-mono opacity-60 text-xs p-1">Solenoid 1</p>
					<label class="switch">
						<input class="solSwitch" type="checkbox" disabled solenoid-id="1">
						<span class="slider round"></span>
					</label>
				</div>

				<div class="flex flex-col justify-center items-center">
					<p class="text-white font-mono opacity-60 text-xs p-1">Solenoid 2</p>
					<label class="switch">
						<input class="solSwitch" type="checkbox" disabled solenoid-id="2">
						<span class="slider round"></span>
					</label>
				</div>

				<div class="flex flex-col justify-center items-center">
					<p class="text-white font-mono opacity-60 text-xs p-1">Solenoid 3</p>
					<label class="switch">
						<input class="solSwitch" type="checkbox" disabled solenoid-id="3">
						<span class="slider round"></span>
					</label>
				</div>

				<div class="flex flex-col justify-center items-center">
					<p class="text-white font-mono opacity-60 text-xs p-1">Solenoid 4</p>
					<label class="switch">
						<input class="solSwitch" type="checkbox" disabled>
						<span class="slider round"></span>
					</label>
				</div>

				<div class="flex flex-col justify-center items-center">
					<p class="text-white font-mono opacity-60 text-xs p-1">Solenoid 5</p>
					<label class="switch">
						<input class="solSwitch" type="checkbox" disabled>
						<span class="slider round"></span>
					</label>
				</div>

				<div class="flex flex-col justify-center items-center">
					<p class="text-white font-mono opacity-60 text-xs p-1">Solenoid 6</p>
					<label class="switch">
						<input class="solSwitch" type="checkbox" disabled>
						<span class="slider round"></span>
					</label>
				</div>

				<!--Button to send JSON packets-->
			<div class="col-start-3 col-span-2 justify-center items-center gap-2" >
				<button class = "peer-checked:opacity-100 pop_selector opacity-60 w-40 h-7 flex items-center justify-center leading-none text-xs font-mono" id = "solenoidCommand" hidden>Send solenoid command</button>
			</div>

			</div>

			

		</div>
	</div>
</div>
