<!-- Logos and project/launch information module -->
<div class="w-full h-full p-2 pl-4 flex flex-row justify-start items-center gap-4">
	<img src="img/HIVE_LOGO_256.png" width="256" height="256" class="h-20 w-auto" />
	<img src="img/rmit_full_colour_reverse.svg" width="163" height="58" class="h-20 w-auto py-3 px-1" />
	<div class="border-2 border-legacy-400 bg-legacy-400/20 pl-2 font-mono flex-1">
		<p class="font-bold">ROCKET: <span class="text-legacy-300">LEGACY</span></p>
		<p>[ Info about rocket and team ]</p>
	</div>
</div>
