<!-- 3D rocket module -->
<div class="rocket_frame w-full h-full flex flex-col font-mono">
    <p class="font-bold uppercase text-emerald-300 text-center mt-4">
        6DOF Rocket Visualisation
    </p>
    <div
        class="text-center transform mt-1 text-emerald-300 z-10"
    >
        <span id="pitchDisplay">Pitch: 0°</span> &nbsp;
        <span id="rollDisplay">Roll: 0°</span> &nbsp;
        <span id="yawDisplay">Yaw: 0°</span>
    </div>

    <!-- Viewer -->
    <div class="grow flex items-center justify-center">
        <div id="rocketViewerContainer" class="relative w-full h-full group">
            <canvas id="rocketCanvas" class="w-full h-full block"></canvas>
            <script type="module" src="/static/js/rocket_viewer.js"></script>
        </div>
    </div>
</div>
