<!-- Video module - Rocket -->
<div class="w-full h-full max-w-full max-h-full">
    <div class="relative max-w-full max-h-full mx-auto my-auto w-auto h-auto aspect-video border-2 border-hive rounded-xl flex-col flex justify-center items-center">
        <h2 class="m-0 p-0 absolute top-0 left-1">Rocket camera</h2>
        <p class="text-lg font-mono">&nbsp;&nbsp;VIDEO CONNECTING...</p>
        <img src="img/hive_logo_small.png" width="256" height="256" class="max-h-20 w-auto h-auto animate-[spin_5s_linear_infinite]" />
    </div>
</div>

