<!-- Continuity check buttons module -->
<div class="w-full h-full grid grid-cols-3 grid-rows-5 border-2 border-hive">

	<p class = "continuity-header">Continuity check buttons</p>
	<p class = "font-mono text-hive flex flex-row items-center text-center justify-center border-r-1 border-hive">Continuity check CMD received</p>
	<p class = "font-mono text-hive flex flex-row items-center text-center justify-center">Continuity check result</p>

	<div class = "col-start-1 row-start-2 flex items-center justify-center border-r border-hive">
		<button class="continuity-button items-center w-35 h-10 font-mono">Continuity A</button>
	</div>
	<div class = "flex flex-row items-center justify-center border-r-1 border-hive" >
		<p class = "font-mono text-center">Continuity A </p> 
		<div class = "indicator-boolean"></div> 
	</div>
	<div class = "flex flex-row items-center justify-center">
		<p class = "font-mono text-center ">Continuity A </p> 
		<div class = "indicator-boolean"></div> 
	</div>


	<div class = "col-start-1 row-start-3 flex items-center justify-center border-r-1 border-hive">
		<button class="continuity-button items-center w-35 h-10 font-mono">Continuity B</button>
	</div>
	<div class = "flex flex-row items-center justify-center border-r-1 border-hive">
		<p class = "font-mono text-center">Continuity B </p> 
		<div class = "indicator-boolean"></div> 
	</div>
	<div class = "flex flex-row items-center justify-center">
		<p class = "font-mono text-center">Continuity B </p> 
		<div class = "indicator-boolean"></div> 
	</div>


	<div class = "col-start-1 row-start-4 flex items-center justify-center border-r-1 border-hive">
		<button class="continuity-button items-center w-35 h-10 font-mono">Continuity C</button>
	</div>
	<div class = "flex flex-row items-center justify-center border-r-1 border-hive">
		<p class = "font-mono text-center">Continuity C </p> 
		<div class = "indicator-boolean"></div> 
	</div>
	<div class = "flex flex-row items-center justify-center">
		<p class = "font-mono text-center">Continuity C </p> 
		<div class = "indicator-boolean"></div> 
	</div>


	<div class = "col-start-1 row-start-5 flex items-center justify-center border-r-1 border-hive">
		<button class="continuity-button items-center w-35 h-10 font-mono">Continuity D</button>
	</div>
	<div class = "flex flex-row items-center justify-center border-r-1 border-hive">
		<p class = "font-mono text-center">Continuity D </p> 
		<div class = "indicator-boolean"></div> 
	</div>
	<div class = "flex flex-row items-center justify-center">
		<p class = "font-mono text-center">Continuity D </p> 
		<div class = "indicator-boolean"></div> 
	</div>

</div>
