<!-- Flight state module -->
<!-- Includes time, flight state indicator -->
<section class="w-full h-full flex flex-col gap-2 font-mono">
	<div class="grid grid-cols-2 gap-4">
		<p class="flex gap-1 items-center">
			<span>Flight State:</span>
			<input readonly autocomplete="off" class="fs-flightstate">
		</p>
		<p class="flex gap-1 items-center">
			<span>Time:</span>
			<input readonly autocomplete="off" class="fs-time">
		</p>
	</div>
	<div class="border-2 border-hive/50 bg-hive/20 flex-1">
		<p class="text-hive text-center">[ flight state timeline ]</p>
	</div>
</section>
