<!-- Other controls module -->
<div class="w-full h-full border-2 border-hive">
	<h2 class="text-center p-2">Aux System Controls</h2>
	
	<div class = "grid grid-rows-2 items-center w-full h-full">
		<div class = "grid grid-rows-2 items-center w-full h-full">

			<div class = "flex justify-center items-center">
				<button class = "solenoid_button_inactive w-55 h-10">
					<span class = "text-sm font-mono">Manual Solenoid Activation</span>
				</button>
			</div>

			<div class = "grid grid-cols-6 items-center w-full h-full">
				
				<div class = "flex flex-col justify-center items-center">
					<p class = "text-white font-mono opacity-60 text-xs p-2">Solenoid 1</p>
					<button class = "cursor-pointer opacity-60 p-2"> 
						<img src = "img/buttons/switch_off.svg" class="w-full h-full">
					</button>
				</div>

				<div class = "flex flex-col justify-center items-center">
					<p class = "text-white font-mono opacity-60 text-xs p-2">Solenoid 2</p>
					<button class = "cursor-pointer opacity-60 p-2"> 
						<img src = "img/buttons/switch_off.svg" class="w-full h-full">
					</button>
				</div>

				<div class = "flex flex-col justify-center items-center">
					<p class = "text-white font-mono opacity-60 text-xs p-2">Solenoid 3</p>
					<button class = "cursor-pointer opacity-60 p-2"> 
						<img src = "img/buttons/switch_off.svg" class="w-full h-full">
					</button>
				</div>

				<div class = "flex flex-col justify-center items-center">
					<p class = "text-white font-mono opacity-60 text-xs p-2">Solenoid 4</p>
					<button class = "cursor-pointer opacity-60 p-2"> 
						<img src = "img/buttons/switch_off.svg" class="w-full h-full">
					</button>
				</div>

				<div class = "flex flex-col justify-center items-center">
					<p class = "text-white font-mono opacity-60 text-xs p-2">Solenoid 5</p>
					<button class = "cursor-pointer opacity-60 p-2"> 
						<img src = "img/buttons/switch_off.svg" class="w-full h-full">
					</button>
				</div>

				<div class = "flex flex-col justify-center items-center">
					<p class = "text-white font-mono opacity-60 text-xs p-2">Solenoid 6</p>
					<button class = "cursor-pointer opacity-60 p-2"> 
						<img src = "img/buttons/switch_off.svg" class="w-full h-full">
					</button>
				</div>


			</div>
		</div>

		<p>Other controls if needed</p>

	</div>
</div>
