<!-- Radio module -->
<section class="m-2 mb-0 gap-2 font-mono flex flex-col ">
	<div class="w-full flex gap-2 justify-start items-center">
		<div class="indicator-boolean mx-0 radio-av-state"></div>
		<p class="font-bold text-hive">AV&nbsp;</p>
		<p>RSSI:</p>
		<input readonly autocomplete="off" class="radio-av-rssi">
		<p>SNR:</p>
		<input readonly autocomplete="off" class="radio-av-snr">
		<p>Packets:</p>
		<input readonly autocomplete="off" class="radio-av-packets">
	</div>
	<div class="w-full flex gap-2 justify-start items-center">
		<div class="indicator-boolean mx-0 radio-gse-state"></div>
		<p class="font-bold text-hive">GSE</p>
		<p>RSSI:</p>
		<input readonly autocomplete="off" class="radio-gse-rssi">
		<p>SNR:</p>
		<input readonly autocomplete="off" class="radio-gse-snr">
		<p>Packets:</p>
		<input readonly autocomplete="off" class="radio-gse-packets">
	</div>
</section>
