<!-- Continuity check buttons module -->
<div class="w-full h-full grid grid-cols-3 grid-rows-5 border-2 border-hive-dark">

	<h2 class = "continuity-header">Continuity check buttons</h2>
	<h2 class = "continuity-header">Continuity check CMD received</h2>
	<h2 class = "flex flex-row items-center text-center justify-center">Continuity check result</h2>

	<div class = "col-start-1 row-start-2 flex items-center justify-center border-r border-hive-dark">
		<button onclick = "sendContinuityA()" id = "continuityA" class="continuity-button items-center w-35 h-10 font-mono">Continuity A</button>
	</div>
	<div class = "continuity-variables-middle" >
		<p class = "font-mono text-center">Continuity A </p> 
		<div class = "indicator-state"></div> 
	</div>
	<div class = "continuity-variables-right">
		<p class = "font-mono text-center ">Continuity A </p> 
		<div class = "indicator-state"></div> 
	</div>

	<div class = "col-start-1 row-start-3 flex items-center justify-center border-r-1 border-hive-dark">
		<button onclick = "sendContinuityB()" id = "continuityB" class="continuity-button items-center w-35 h-10 font-mono">Continuity B</button>
	</div>
	<div class = "continuity-variables-middle">
		<p class = "font-mono text-center">Continuity B </p> 
		<div class = "indicator-state"></div> 
	</div>
	<div class = "continuity-variables-right">
		<p class = "font-mono text-center">Continuity B </p> 
		<div class = "indicator-state"></div>  
	</div>


	<div class = "col-start-1 row-start-4 flex items-center justify-center border-r-1 border-hive-dark">
		<button onclick = "sendContinuityC()" id = "continuityC" class="continuity-button items-center w-35 h-10 font-mono">Continuity C</button>
	</div>
	<div class = "continuity-variables-middle">
		<p class = "font-mono text-center">Continuity C </p> 
		<div class = "indicator-state"></div> 
	</div>
	<div class = "continuity-variables-right">
		<p class = "font-mono text-center">Continuity C </p> 
		<div class = "indicator-state"></div> 
	</div>


	<div class = "col-start-1 row-start-5 flex items-center justify-center border-r-1 border-hive-dark">
		<button onclick = "sendContinuityD()" id = "continuityD" class="continuity-button items-center w-35 h-10 font-mono">Continuity D</button>
	</div>
	<div class = "continuity-variables-middle">
		<p class = "font-mono text-center">Continuity D </p> 
		<div class = "indicator-state"></div> 
	</div>
	<div class = "continuity-variables-right">
		<p class = "font-mono text-center">Continuity D </p> 
		<div class = "indicator-state"></div> 
	</div>

</div>
