<!-- Auxilliary data module (GSE) -->
<!-- Includes transducers, thermocouples, internal temperature, gas bottle weights -->
<div class="w-full h-full flex flex-col font-mono border-t-2 border-hive-dark">
	<h2>Auxilliary (GSE)</h2>
	<div class="grid grid-cols-2 grow gap-2 h-full">
		<!-- Transducers -->
		<section class="flex flex-col">
			<h3>Transducer Readings</h3>
			<div class="grow w-full h-full">
				<svg id="graph-aux-transducers" class="w-full h-full" width="0" height="0"></svg>
			</div>
			<div class="flex flex-row gap-2 grow justify-evenly">
				<label class="text-center w-1/3">
					N<sub>2</sub>O #1:<br><input readonly autocomplete="off" class="aux-transducer-1 border-b-red-500 border-b-2" size="4">bar
				</label>
				<label class="text-center w-1/3">
					N<sub>2</sub>O #2:<br><input readonly autocomplete="off" class="aux-transducer-2 border-b-green-500 border-b-2" size="4">bar
				</label>
				<label class="text-center w-1/3">
					O<sub>2</sub>:<br><input readonly autocomplete="off" class="aux-transducer-3 border-b-blue-500 border-b-2" size="4">bar
				</label>
			</div>
		</section>

		<!-- Thermocouples -->
		<section class="flex flex-col">
			<h3>Thermocouple Readings</h3>
			<div class="grow w-full h-full">
				<svg id="graph-aux-thermocouples" class="w-full h-full" width="0" height="0"></svg>
			</div>
			<div class="flex flex-row gap-2 grow justify-evenly">
				<label>
					1:<input readonly autocomplete="off" class="aux-thermocouple-1 border-b-red-500 border-b-2" size="4">
				</label>
				<label>
					2:<input readonly autocomplete="off" class="aux-thermocouple-2 border-b-green-500 border-b-2" size="4">
				</label>
				<label>
					3:<input readonly autocomplete="off" class="aux-thermocouple-3 border-b-blue-500 border-b-2" size="4">
				</label>
				<label>
					4:<input readonly autocomplete="off" class="aux-thermocouple-4 border-b-white border-b-2" size="4">
				</label>
			</div>
		</section>
	</div>
	<div class="grid grid-cols-2 grow gap-2 h-full">
		<!-- Internal temperature -->
		<section class="flex flex-col">
			<h3>GSE-Enclosure Thermocouple</h3>
			<div class="grow w-full h-full">
				<svg id="graph-aux-internaltemp" class="w-full h-full" width="0" height="0"></svg>
			</div>
			<label class="w-full text-center">
				Temp:<input readonly autocomplete="off" class="aux-internaltemp border-b-red-500 border-b-2" size="8">&deg;C
			</label>
		</section>

		<!-- Gas bottle weights -->
		<section class="flex flex-col">
			<h3>Gas-Bottle Mass</h3>
			<div class="grow w-full h-full">
				<svg id="graph-aux-gasbottles" class="w-full h-full" width="0" height="0"></svg>
			</div>
			<div class="flex flex-row gap-4 grow justify-evenly">
				<label>
					1:<input readonly autocomplete="off" class="aux-gasbottle-1 border-b-red-500 border-b-2" size="6">kg
				</label>
				<label>
					2:<input readonly autocomplete="off" class="aux-gasbottle-2 border-b-green-500 border-b-2" size="6">kg
				</label>
			</div>
		</section>
	</div>

	<!-- Rocket load cell weight -->
	 <div class="grid grid-cols-2 gap-2 grow">
		<label class="text-center">
			Rocket Mass:<input readonly autocomplete="off" class="aux-loadcell" size="10">kg
		</label>
		<label class="text-center">
			Gas-Bottle Fill Timer:<input readonly autocomplete="off" class="aux-gasbottle-time" size="10">s
		</label>
	 </div>
	
</div>