<!-- Telemetry module -->
<h2 class="text-center text-hive font-semibold font-mono">&lt; COMMUNICATION DIAGNOSTICS &gt;</h2>

<div class="w-full grid grid-cols-[1fr_2px_1fr] gap-x-4 gap-y-1 px-2">
	<!-- AV-1 and AV-2 Telemetry -->
	<p class="indicator-numeric">
		<span>AV-1 RSSI:</span>
		<span id="av1-rssi">-124 dB</span>
	</p>
	<div class="w-full h-full row-span-4 bg-hive"></div>
	<p class="indicator-numeric">
		<span>AV-2 RSSI:</span>
		<span id="av2-rssi">-76 dB</span>
	</p>

	<p class="indicator-numeric">
		<span>AV-1 SNR:</span>
		<span id="av1-snr">-12 dB</span>
	</p>
	<p class="indicator-numeric">
		<span>AV-2 SNR:</span>
		<span id="av2-snr">-11 dB</span>
	</p>

	<p class="indicator-numeric">
		<span>AV-1 Packets:</span>
		<span id="av1-packets">452</span>
	</p>
	<p class="indicator-numeric">
		<span>AV-2 Packets:</span>
		<span id="av2-packets">510</span>
	</p>

	<p class="indicator-numeric">
		<span>AV-1 Uptime:</span>
		<span id="av1-uptime">01:23</span>
	</p>
	<p class="indicator-numeric">
		<span>AV-2 Uptime:</span>
		<span id="av2-uptime">01:21</span>
	</p>
</div>
