<!-- Pop test module -->
<div class="w-full h-full border-2 border-hive/50">
	<h2 class="text-center p-2">Pop test</h2>
  
	<!-- Wrapper ensures flow remains correct -->
	<div class="relative w-full min-h-[190px]">

		<div class="w-25 h-5 left-[387px] top-[35px] absolute">
			<input type="checkbox" id="optionMainP" class="sr-only peer">
			<label for="optionMainP"
				   class="pop_selector w-32 h-5 flex items-center justify-center leading-none text-xs font-mono">
			  Main: Primary
			</label>
		</div>

		<div class="w-25 h-5 left-[387px] top-[73px] absolute">
			<input type="checkbox" id="optionMainS" class="sr-only peer">
			<label for="optionMainS"
				   class="pop_selector w-32 h-5 flex items-center justify-center leading-none text-xs font-mono">
			  Main: Secondary
			</label>
		</div>

		<div class="w-25 h-5 left-[387px] top-[137px] absolute">
			<input type="checkbox" id="optionApogeeP" class="sr-only peer">
			<label for="optionApogeeP"
				   class="pop_selector w-32 h-5 flex items-center justify-center leading-none text-xs font-mono">
			  Apogee: Primary
			</label>
		</div>
		  
		  
		<div class="w-25 h-5 left-[387px] top-[175px] absolute">
			<input type="checkbox" id="optionApogeeS" class="sr-only peer">
			<label for="optionApogeeS"
				class="pop_selector w-32 h-5 flex items-center justify-center leading-none text-xs font-mono">
			Apogee: Secondary
			</label>
		</div>
		
		<div class="w-20 h-34 left-[315px] top-[50px] absolute">
			<img src="img/selector_vector.svg" class="w-full h-full" />
		</div>
	
		<div class="relative w-full h-full">
			<button id = "popButton" class="pop_button_inactive w-24 h-24 left-[219px] top-[69px] absolute" disabled>
			</button>
		</div>
	
		<div id  = "prompt" class="left-[30px] top-[106px] absolute justify-center text-red-600 text-base font-normal font-mono">
			Select an option
		</div>
		</div>
  

		<div class="grid grid-cols-2 gap-y-2 items-center w-fit ml-2">
			<p class="text-left font-mono">Pop Test CMD Received</p>
			<div class="indicator-boolean"></div>
		
			<p class="text-left font-mono">Pop Test Result</p>
			<div class="indicator-boolean"></div>
		</div>

  </div>

